version: '3.8'
services:
  web:
    build:
      context: .
      target: web
    ports:
      - "3000:3000"
    env_file: .env
    depends_on:
      - api

  api:
    build:
      context: .
      target: api
    ports:
      - "3001:3001"
    env_file: .env
